/* -------------------------------------------- */
/*                                              */
/* Logo                          */
/* -> Styles                                    */
/*                                              */
/* -------------------------------------------- */

.logo {
  position: relative;
}

.logo--sm .logo_image,
.logo--sm .logo_image img {
  display: block;
  width: var(--size-12);
}

.logo--md .logo_image,
.logo--md .logo_image img {
  display: block;
  width: var(--size-15);
}

.logo--lg .logo_image,
.logo--lg .logo_image img {
  display: block;
  width: var(--size-22);
}
