/* -------------------------------------------- */
/*                                              */
/* PrimaryNavigation                          */
/* -> Styles                                    */
/*                                              */
/* -------------------------------------------- */

.primary-navigation ul,
.primary-sub-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-navigation > ul {
  width: fit-content;
  margin: 0 auto;

  @media (--min-breakpoint-md) {
    display: inline;
    margin: 0;
  }
}

.primary-navigation-item,
.primary-sub-navigation-item {
  display: block;
  font-weight: bold;
  font-family: var(--font-family-heading);
  font-size: clamp(
    var(--font-size-handheld-body-2),
    0.8182rem + 0.2841vw,
    var(--font-size-body-2)
  );
  line-height: var(--line-height-body-2);
  margin-bottom: var(--size-5);
  color: var(--color-text-light);
  text-transform: uppercase;

  @media (--min-breakpoint-md) {
    display: inline-block;
    margin: 0 0 0 var(--size-6);
  }
}

.primary-navigation-item--spaced,
.primary-sub-navigation-item--spaced {
  margin-top: var(--size-8);
}

.primary-navigation-item a,
.primary-sub-navigation a {
  position: relative;
  display: block;
  color: var(--color-text-light);
  transition: color var(--transition-1);
  text-decoration: underline;
  text-decoration-color: transparent;

  &::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    transition: background var(--transition-3);
  }
}

.primary-navigation-item--active a,
.primary-sub-navigation-item--active a {
  color: var(--brand-4);
  pointer-events: none;
  text-decoration-color: var(--color-text-light);

  &::after {
    background: var(--brand-6);
  }
}

.primary-navigation-item a:hover,
.primary-sub-navigation a:hover {
  color: var(--brand-4);
  /* text-decoration-color: var(--color-text-light); */

  &::after {
    background: var(--brand-6);
  }
}

.primary-sub-navigation ul {
  padding: var(--size-4) 0 0 0;
}

.primary-sub-navigation-item {
  font-size: clamp(
    var(--font-size-handheld-body-3),
    0.6932rem + 0.2841vw,
    var(--font-size-body-3)
  );
  line-height: var(--line-height-body-3);
  margin-bottom: var(--size-3);
  color: var(--color-text-light);
}
