/* -------------------------------------------- */
/*                                              */
/* PrimaryUtility                          */
/* -> Styles                                    */
/*                                              */
/* -------------------------------------------- */

.primary-utility {
  width: fit-content;
  margin: 0 auto;
  margin-top: var(--size-8);

  .primary-utility__item {
    margin-bottom: var(--size-4);
  }
}

@media (--min-breakpoint-md) {
  .primary-utility {
    display: flex;
    width: auto;
    margin: 0;
    align-items: center;
    gap: var(--size-6);
  }

  .primary-utility--align-left {
    justify-content: flex-start;
  }

  .primary-utility--align-right {
    justify-content: flex-end;
  }

  .primary-utility--align-center {
    justify-content: center;
  }
}
