/* -------------------------------------------- */
/*                                              */
/* SiteFooter                                   */
/* -> Styles                                    */
/*                                              */
/* -------------------------------------------- */

.site-footer {
  padding: var(--size-6) 0;

  .site-footer-container {
    max-width: var(--maximum-page-width);
    margin: 0 auto;
    padding: 0 var(--size-8);

    @media (--min-breakpoint-md) {
      padding: 0 var(--size-10);
    }

    @media (--min-breakpoint-lg) {
      padding: 0 var(--size-6);
    }
  }
}
